<div class="container">
    <div class="row text-center">
        <h2> Parametrage Central</h2>
        <div id="menu-box">
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/mode_reglement']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi  pi-book"></i>
                    </div>
                    <div class="block2">
                        <span>Mode Reglement</span>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/devise']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-dollar" aria-hidden="true"></i>
                    </div>
                    <div class="block2">
                        <span>Devise</span>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/banque']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-building-columns"></i>
                    </div>
                    <div class="block2">
                        <span>Banque</span>
                    </div>
                </div>
            </div>
            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/saison']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-calendar-clock"></i>
                    </div>
                    <div class="block2">
                        <span>Saison</span>
                    </div>
                </div>
            </div>

            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/type_caisse']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-equals"></i>
                    </div>
                    <div class="block2">
                        <span>Type Caisse</span>
                    </div>
                </div>
            </div>

            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/region']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-compass"></i>
                    </div>
                    <div class="block2">
                        <span> Région</span>
                    </div>
                </div>
            </div>

            <!-- <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/facture_bon_reception']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-list"></i>
                    </div>
                    <div class="block2">
                        <span> 1 مراجعة استلام</span>
                    </div>
                </div>
            </div>

            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/facture_bon_reception']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-list"></i>
                    </div>
                    <div class="block2">
                        <span>  2 مراجعة استلام</span>
                    </div>
                </div>
            </div>

            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/facture_bon_reception']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-list"></i>
                    </div>
                    <div class="block2">
                        <span> 3 مراجعة استلام</span>
                    </div>
                </div>
            </div>


            <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/facture_bon_reception']">
                <div class="container-block">
                    <div class="block1">
                        <i class="pi pi-list"></i>
                    </div>
                    <div class="block2">
                        <span> 4 مراجعة استلام</span>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>