<div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">ManagmentRessource</div>
    <i class="bx bx-menu-alt-right" id="btn"></i>
</div>
<ul class="nav-list scroll">
    <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
    </li>
    <li>
        <a [routerLink]="['/home']">
            <i class="bx bx-menu-alt-right"></i>
            <span class="links_name">Home</span>
        </a>
        <span class="tooltip">Home</span>
    </li>
    <li>
        <a [routerLink]="['/parametrage_central']">
            <i class="bx bx-cog"></i>
            <span class="links_name">Paramétrage Central</span>
        </a>
        <span class="tooltip">Paramétrage Central</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Achats</span>
        </a>
        <span class="tooltip">Achats</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-user"></i>
            <span class="links_name">Ventes</span>
        </a>
        <span class="tooltip">Ventes</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-chat"></i>
            <span class="links_name">Parametrage matiere</span>
        </a>
        <span class="tooltip">Messages</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-pie-chart-alt-2"></i>
            <span class="links_name">Paramétrage Article</span>
        </a>
        <span class="tooltip">Analytics</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-folder"></i>
            <span class="links_name">production</span>
        </a>
        <span class="tooltip">production</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cart-alt"></i>
            <span class="links_name">stocks</span>
        </a>
        <span class="tooltip">stocks</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-heart"></i>
            <span class="links_name">Client & Fournisseur</span>
        </a>
        <span class="tooltip">Client Fournisseur</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Bon de commande</span>
        </a>
        <span class="tooltip">Bon de commande</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Gestion des entrepôts</span>
        </a>
        <span class="tooltip">Gestion des entrepôts</span>
    </li>

    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Contrôle du transport</span>
        </a>
        <span class="tooltip">Contrôle du transport</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Mouvement</span>
        </a>
        <span class="tooltip">Mouvement</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Inventaires & Retours</span>
        </a>
        <span class="tooltip">Inventaires et les retours</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Planification & Suivi</span>
        </a>
        <span class="tooltip">Planification & Suivi</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Jalonnement</span>
        </a>
        <span class="tooltip">Jalonnement</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Qualite</span>
        </a>
        <span class="tooltip">Qualite</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Securite</span>
        </a>
        <span class="tooltip">Securite</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Envirenement</span>
        </a>
        <span class="tooltip">Envirenement</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Hygienemt</span>
        </a>
        <span class="tooltip">Hygienemt</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">GMAO</span>
        </a>
        <span class="tooltip">GMAO</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Comptabilité</span>
        </a>
        <span class="tooltip">Comptabilité</span>
    </li>
    <li>
        <a href="#">
            <i class="bx bx-cog"></i>
            <span class="links_name">Tresorerie</span>
        </a>
        <span class="tooltip">Tresorerie</span>
    </li>

    <li class="profile">
        <div class="profile-details">
            <!--<img src="profile.jpg" alt="profileImg">-->
            <div class="name_job">
                <div class="name">Gabriel Toledo</div>
                <div class="job">Frontend Developer</div>
            </div>
        </div>
        <i class="bx bx-log-out" id="log_out"></i>
    </li>
</ul>