<!-- <div class="container">
    <div class="row text-center">
      <h2>Main Menu Depot Departement</h2>
      <div id="menu-box">
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depot_departement/depot']">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-envelope-open-text" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>Depot</span>
              <p>Display, sound, notifications</p>
  
            </div>
          </div>
        </div>
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depot_departement/departement']">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-rectangle-list" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>Departement</span>
              <p>Bluethoot, printers, mouse</p>
            </div>
          </div>
        </div>
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_depot_departement/categorie_depot']">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-tag" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>Categorie Depot</span>
              <p>Bluethoot, printers, mouse</p>

            </div>
          </div>
        </div> 
      </div>
    </div>
  </div> -->

<div class="container">
  <div class="row text-center">
    <h2>Main Menu Depot Departement</h2>
    <div id="menu-box">
      <div id="item" class="col-sm-6 col-md-4" [routerLink]="['/menu_depot_departement/depot']">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-envelope-open-text" aria-hidden="true"></i>
          </div>
          <div class="block2">
            <span>Depot</span>
            <p>Depot MP ,Depot PSF , ...</p>

          </div>
        </div>
      </div>
      <div id="item" class="col-sm-6 col-md-4" [routerLink]="['/menu_depot_departement/departement']">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-rectangle-list" aria-hidden="true"></i>
          </div>
          <div class="block2">
            <span>Departement</span>
            <p>DEP Achat ,DEP logistique</p>
          </div>
        </div>
      </div>

      <div id="item" class="col-sm-6 col-md-4" [routerLink]="['/menu_depot_departement/categorie_depot']">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-tag" aria-hidden="true"></i>
          </div>
          <div class="block2">
            <span>Categorie Depot</span>
            <p>Matiere Premiere , SF, ... </p>
          </div>
        </div>
      </div>
       <!--<div id="item" class="col-sm-6 col-md-3">
        <div class="container-block">
          <div class="block1">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
          <div class="block2">
            <span>  </span>
            <p> </p>
          </div>
        </div>
      </div>
      <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/taille']">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-folder-tree" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>GED</span>
              <p>Document PDF, JPG , JPEG, ...</p>
            </div>
          </div>
        </div>
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/grille_taille']">
            <div class="container-block">
              <div class="block1">
                <i class="fa fa-tasks"></i>
              </div>
              <div class="block2">
                <span>Grille Taille</span> 
              </div>
            </div>    
          </div> -->

    </div>
  </div>
</div>