<body translate="no" class="nav-md">
<div   class="mainbox" > 
        <header   >
            <!-- <div class="footer">{{ liveDateTime | date: "medium" }}  
            </div> -->
  
        <app-bar-time *ngIf="disabled"></app-bar-time> 
          </header>
        <app-navbar   *ngIf="disabled"></app-navbar> 
        <main *ngIf="disabled"  id="content-wrapper" >
            <router-outlet onclick="closeNavBAr()"></router-outlet>
        </main>
        <footer  *ngIf="disabled">Footer</footer>
    </div> 
</body>
 

