<body translate="no" class="nav-md">
<div   class="mainbox" >
        <!-- <header>  -->
                <!-- Header -->
              

                <!-- <nav class="navbar navbar-default no-margin"> 
                    <div class="navbar-header fixed-brand">
                       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                  </button>
                       <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> M-33</a>
                    </div> 
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav">
                          <li class="active">
                             <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                             </button>
                          </li>
                       </ul>
                    </div> 
                  </nav> -->
             
        <!-- </header>  -->

        <header>
            <!-- <span class="menu"><i class="material-icons">menu</i></span> -->
          </header>
        <app-navbar></app-navbar> 
        <main  id="content-wrapper" >
            <router-outlet onclick="closeNavBAr()"></router-outlet>
        </main>
        <footer>Footer</footer>
    </div>

   
 
     
 
</body>