@import "src/assets/assets/files/css/style.css";




 
/* 
:host ::ng-deep  .alertify-notifier .ajs-message.ajs-error {
    color: #15ff00 !important;
    background: rgba(217, 92, 92, 0.95) !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5) !important;
    font-weight: bold !important;
  } */

  :host ::ng-deep  .ajs-message.ajs-error.ajs-visible
  {
    color: #15ff00 !important;
    background: rgba(217, 92, 92, 0.95) !important;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5) !important;
    font-weight: bold !important;
  }