<div class="container">
    <div class="row text-center">
      <h2>Main Menu Achat</h2>
      <div id="menu-box">
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_access/signature_user']">
          <div class="container-block">
            <div class="block1">
              <i class="fa-solid fa-file-signature" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>Signature User</span>
              <!-- <p>Display, sound, notifications</p> -->
  
            </div>
          </div>
        </div>
        <!-- <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_achat/demande_achat']">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-rectangle-list" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>Demande Achat</span>
              <p>Bluethoot, printers, mouse</p>
            </div>
          </div>
        </div>
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_achat/ordre_achat']">
          <div class="container-block">
            <div class="block1">
              <i class="fa fa-tag" aria-hidden="true"></i>
            </div>
            <div class="block2">
              <span>Ordre d'achat</span>
              
              <p>Bluethoot, printers, mouse</p>
            </div>
          </div>
        </div>
        <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/taille']">
            <div class="container-block">
              <div class="block1">
                <i class="fa fa-folder-tree" aria-hidden="true"></i>
              </div> 
              <div class="block2">
                <span>GED</span>  
              <p>Document PDF, JPG , JPEG, ...</p>
              </div>
            </div>    
          </div> -->
          <!-- <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/unite']">
            <div class="container-block">
              <div class="block1">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <div class="block2">
                <span>Unite</span> 
              </div>
            </div>    
          </div>
          <div id="item" class="col-sm-6 col-md-3" [routerLink]="['/menu_parametrage_matiere/grille_taille']">
            <div class="container-block">
              <div class="block1">
                <i class="fa fa-tasks"></i>
              </div>
              <div class="block2">
                <span>Grille Taille</span> 
              </div>
            </div>    
          </div> -->
  
      </div>
    </div>
  </div>